{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Estoque de Produtos (BD)</h1>

        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Estoque</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td scope="row">{{ produto.id }}</td>
                        <td scope="row"><a href="#" data-bs-toggle="modal" data-bs-target="#modal{{produto.id}}">{{ produto.nome }}</a></td>
                        <td scope="row">R$ {{ produto.preco }}</td>
                        <td scope="row">{{ produto.estoque }}</td>
                    </tr>

                    <!-- Modal -->
                    <div class="modal fade" id="modal{{produto.id}}" tabindex="-1" role="dialog">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title">{{ produto.nome }}</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar">
                              </button>
                          </div>
                          <div class="modal-body">
                              <img src="{{produto.imagem.url}}" class="img-fluid" alt="{{ produto.nome }}">
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>

    </div>
    {% bootstrap_javascript %}
</body>
</html>


