{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Estoque de Produtos (BD)</h1>

        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Estoque</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td scope="row">{{ produto.id }}</td>
                        <td scope="row">{{ produto.nome }}</td>
                        <td scope="row">R$ {{ produto.preco }}</td>
                        <td scope="row">{{ produto.estoque }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% bootstrap_javascript %}
</body>
</html>